@using FinanceAppCore
@model ICollection<FinanceAppCore.Day>

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-3"></div>

<div class="col-sm-6">
    <div class="card mainWindow">
       

        @*<div class="bg-light card-header">
            @{

                string result = decimal.Zero.ToString("c");
                var qw = Model.FirstOrDefault(e => e.Date == DateTime.Today);
                if (qw != null)
                {
                    result = qw.PurchaseList.Sum(d => d.Price * d.Count).ToString("c");
                }
            }*@




        <div class="card-body rounded-circle">
            
            <div class="card mainStack">
                <div class="card-header">
                         <button class="btn btn-outline-primary float-right">+</button>
                
                </div>
           
               

                @{
                    Random rd = new Random();
                    int previous = 0;
                    string[] color = {"Linen", "LavenderBlush", "AliceBlue", "SeaShell", "PeachPuff "};

                }

                @foreach (var w in Model.OrderByDescending(w => w.Date))
                {
                    int rand = rd.Next(0, 5);
                    while (rand == previous)
                    {
                        rand = rd.Next(0, 5);
                    }
                    previous = rand;

                    <div class="card day" style="background: @color[rand]">
                        <div class="card-header">
                            <h4>@w.Date.ToString("D")</h4>
                        </div>
                        <div class="card-body">

                            <ul class="list-group">
                                @foreach (var v in w.PurchaseList)
                                {

                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@v.Count</span>
                                        @v.Item

                                        <span class="badge float-right">@v.Price.ToString("c")</span>
                                    </li>

                                }
                                <li class="list-group-item">
                                    <button class="btn btn-outline-primary btn-sm float-right">+</button>
                                </li>
                            </ul>

                        </div>
                        <div class="card-footer ">
                            <h5 class="float-right">
                                Итог: @w.PurchaseList.Sum(we => we.Price * we.Count).ToString("c")
                            </h5>
                        </div>

                    </div>
                }

            </div>
        </div>

    </div>
    </div>

