@model FinanceAppASP.Controllers.DayViewModel


@{
    string[] colors = { "#c7ffe0", "rgb(255, 254, 194)", "rgb(252, 170, 173);" };
}

<div class="card day " style="background: @colors[Model.Color]">
    <div class="card-header">
        <form asp-action="DeleteDay">
            <div class="form-row">
                <div class="col">
                    <h5>@Model.Date</h5>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary btn-sm float-right">X</button>
                </div>
            </div>
            
            <input type="hidden" name="dayId" value="@Model.Id"/>
        </form>

            
        </div>
    <div class="card-body">

        <ul id="card-@Model.Id" class="list-group">
            @{
                decimal daySum = 0;
                if (@Model.PurchaseList != null)
                {
                    foreach (var v in @Model.PurchaseList)
                    {

                        <li class="list-group-item">
                            <form asp-action="DeletePurchase">
                                <div class="form-row">
                                    <div class="col">
                                        @v.Item
                                        <span class="badge badge-success badge-pill">X @v.Count</span>

                                        @{
                                            decimal sum = v.Count * v.Price;
                                            daySum += daySum;
                                        }
                                    </div>

                                    <div class="col">
                                        <button class="btn btn-outline-secondary btn-sm float-right">X</button>
                                        <span class="badge float-right text-info "> Сумма @sum.ToString("c")</span>

                                        <span class="badge float-right">@v.Price.ToString("c")</span>

                                    </div>

                                </div>

                                <input type="hidden" name="DayId" value="@Model.Id" />

                                <input type="hidden" name="PurchaseId" value="@v.Id" />
                            </form>
                        </li>

                    }
                }
            }
            <li class="list-group-item">
                <form asp-action="AddPurchase">
                    <div class="form-row">
                        <div class="col">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="text" name="Item" required class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Товар">
                        </div>
                        <div class="col">
                            <input type="text" name="Count" required class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Количество">
                        </div>
                        <div class="col">
                            <input type="text" name="Price" required class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Цена">
                        </div>

                        <div class="col">
                            <button id="@Model.Id" class="addPurchase btn btn-outline-primary btn-sm float-right">+</button>
                        </div>



                    </div>
                </form>


            </li>
        </ul>

    </div>
    <div class="card-footer ">
        <h6 class="float-right">
            Итог: @Model.DayTotal.ToString("c")
        </h6>
    </div>

</div>